{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="profile-card">

    <div class="full-logo left">
        <img src="{{- .Photo.file | absURL -}}" alt="{{- .Photo.alt -}}" aria-label="logo"
        height="{{- .Photo.height -}}">
    </div>

    <div class="entry-content right">
        {{ .Content | markdownify }}
    </div>
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
